@font-face {
  font-family: "Champions Bold";
  src: url("../assets/fonts/Champions-Bold.ttf") format("truetype");
}

body {
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background-color: #202020;
}

.score-board {
  font-family: "Champions Bold", sans-serif;
  background-color: midnightblue;
}

.timer {
  font-size: 3rem;
  background-color: blue;
  text-align: center;
}

.scores {
  display: flex;
  align-items: center;
  /* padding: 1rem 3rem 0; */
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
}

.seperator {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 4rem;
}

.team1-score {
  margin-left: 2rem;
  font-size: 8rem;
  font-weight: bold;
}
.team2-score {
  margin-right: 2rem;
  font-size: 8rem;
  font-weight: bold;
}

.team-logo {
  margin-top: 1rem;
  cursor: pointer;
}

.ucl-logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 1.5rem;
  /* background-color: mistyrose; */
}
.ucl-logo img {
  filter: brightness(0) invert(1);
  margin-bottom: 1rem;
}

.footer {
  /* background-color: lightblue; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0.5rem;
}
.footer span {
  font-family: "Champions Bold", sans-serif;
  text-transform: uppercase;
  font-size: large;
}

@media (max-width: 900px) {
  body {
    padding: 0;
    margin: 0;
  }

  .score-board {
    width: 350px;
    padding: 0;
    margin-top: 6rem;
  }
  .scores {
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 2rem;
  }
  .team1-score,
  .team2-score {
    font-size: 3rem;
    /* margin: 0.5rem 0; */
  }
  .team1-score {
    margin-left: 1rem;
  }
  .team2-score {
    margin-right: 1rem;
  }
  .seperator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
  }
  .team-logo img,
  .ucl-logo img {
    width: 50px !important;
  }
  .ucl-logo {
    margin-top: 2rem;
  }
  .timer {
    font-size: 24px;
  }
  .footer {
    font-size: 12px;
  }
  .footer span {
    font-size: 14px;
  }
}
